* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('./images/background.svg');
  background-repeat: repeat-y;
  background-size: cover;
  height: 100vh;
  overflow: hidden;
}

.logo {
  width: 100%;
  aspect-ratio: 1920 / 1080;
}

@media only screen and (min-width: 768px) {
  .logo {
    width: 85%;
  }
}
